#div1{
    margin: auto;
 margin-top: 200px;
  background-color: rgb(154, 144, 144);
  width: 500px;
  height: 380px;
}

#div1 table{ 
 
  width: 500px;
  height: 300px;
  background-color: rgb(232, 223, 223);
}
#div1 table td{
  width: 100px;
  height: 40px;
}
#div1 table button{
 display: flex;
  font-size: 20px;
  width: 100px;
  height: 40px;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
#huitui{
 position: absolute;
 margin-top: 20px;
 margin-left: 20px;
 width: 50px;
 height: 50px;
}
